@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
  display: grid;
  gap: 20px;
}
@media (min-width: 640px) {
  .grid-container {
    gap: 30px;
    grid-template-columns: repeat(4, 255px);
  }

  .place-center {
    place-items: center;
  }
}

.bg-clip-p-box {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
